name: Create Github Release
on:
  push:
    tags:
      - '**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get release tag
        run: echo "RELEASE_TAG=${{ github.ref }}" >> $GITHUB_ENV

      - name: Display release tag
        run: echo "RELEASE_TAG=${{ env.RELEASE_TAG }}"

      - name: Get the previous release tag
        run: |
          PREVIOUS_RELEASE_TAG=$(curl -L -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer $GITHUB_TOKEN" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/releases/latest | jq -r '.tag_name')
          echo "Previous release tag: ${PREVIOUS_RELEASE_TAG}"
          echo "PREVIOUS_RELEASE_TAG=$PREVIOUS_RELEASE_TAG" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.RELEASE_TAG }}
          previous_tag: ${{ env.PREVIOUS_RELEASE_TAG }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
              --generate-notes \
              --draft \
              --notes-start-tag=$previous_tag
